flatbuffers==25.12.19
mss==10.2.0
numpy==2.4.6
onnxruntime==1.28.0
opencv-python-headless==5.0.0.93
packaging==26.3
pillow==12.3.0
protobuf==7.35.1
pyclipper==1.4.0
PyYAML==6.0.3
rapidocr-onnxruntime==1.4.4
shapely==2.1.2
six==1.17.0
tqdm==4.70.0
